<% include ./partials/header %>
<div>
    
</div>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
           <img class="ui centered round image" src="<%= blog.image %>">
        </div>
        <div class="description">
            <p><%= blog.body %></p>
        </div>
          <div class="content" id="content">
            <span class="float-right"><strong><%= blog.created.toDateString() %></strong></span>
        </div>
        <a class ="ui green basic button" href="/blogs/<%= blog._id %>/edit">Edit Blog</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>


<% include ./partials/footer %>